# This file contains environment variables for the application.

#connection string for MongoDB Atlas
MONGODB_URI="your-mongodb-connection-string-here"

# MongoDB connection string
DB_NAME="your-database-name-here"

# Collection name where the data will be stored
COLLECTION_NAME="your-collection-name-here"

# Notification email address and SMTP configuration
NOTIFICATION_EMAIL="your-notification-email-here" # This email will receive notifications
SMTP_HOST="your-smtp-host-here" # SMTP server host
SMTP_PORT="your-smtp-port-here" # SMTP server port E.g., 587

# SMTP user credentials for sending emails
SMTP_USER="your-smtp-user-email-here" # SMTP user email
SMTP_PASSWORD="your-smtp-user-password-here" # SMTP user password (app password for Gmail)